PORT=3001
APP_BASE_URL=http://localhost:3001

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=yourpass
MYSQL_DATABASE=pansacloud

SESSION_SECRET=replace_with_long_random
WA_SESSION_NAME=main

STORAGE_DIR=./storage
TOKEN_EXPIRE_MIN=10
